body{
background-color: white;
color: red;
}

.message{
display: none;
}

#gg{
  width: 50px;
  height: 50px;
}

.nameBox{
  color: blue;
}

.subjectBox{
  color: purple;
}

.emailBox{
  color: green;
  margin-bottom: 10px;
  border: 1px solid black
}

.emailSubject{
  color: ;
}
.eButton{
  height: 200px
  width: 100px;
  color: black;
}

.dateMe{
  color: black;
}



.emailBody{
  color: black;
}


#top{
  color: red;
}


#counter{
  background-color: blue;
  height:250px;
}