
body {
    width: 825px;
    text-align: center;
    background-color: black;
    background-fill: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%
}

.bigBox{
height: 400px;
width: 825px;
overflow: scroll;
scroll-behavior: hidden;
}

.nameBox{
  color: white;
}

.subjectBox{
  color: white;
}
.count{
  color: white;
  text-decoration: underline;
  text-align: left;
  text-align: fixed; 
}

.emailBox{
  color: white;
  margin-bottom: 10px;
  border: 1px dotted white;
}

.emailBox{

}
.emailSubject{
  color: white;
}


.dateMe{
  color: white;
}

.emailBody{
  color: white;
  vertical-align: 50%;
}

#counter{
  background-color: white;
  height:250px;
}
