body{
background-color: white;
color: red;
}


#gg{
  width: 50px;
  height: 50px;
}

.nameBox{
  color: blue;
}

.subjectBox{
  color: purple;
}

.emailBox{
  color: green;
  margin-bottom: 10px;
  border: 1px solid black;
}

.emailSubject{
  color: ;
}
.eButton{
  height: 50px;
  width: 75px;
  color: black;
}

.dateMe{
  color: black;
}

  

.emailBody{
  color: black;
}


#top{
  color: red;
}


#counter{
  background-color: blue;
  height:250px;
}

.messageBody{
color: black;
display: none;
}

.bodyBag{
  background-color: purple;
}

